$primary-color: #ffb526;
$primary-shadow-color: #dd9a20;
$secondary-color: #213045;
$file-button-color: #44767f;
$join-unable-button-color: #c6c6c6;
$create-button-color: #2a4265;
$end-button-color: #2a4265;
$profile-pic-color: #e5e5e5;
$dashboard-button-color: #e5e5e5;

