@import "colors";
@import "main";
@import "components/tutorial/navbar";
@import "components/tutorial/presentations/presentation";
@import "components/tutorial/chatbox";
@import "components/tutorial/groupinfo";

body {
  background-color: $primary-color;

  textarea, input {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;

    border: none;
  }

  textarea:focus, input:focus{
    outline: none;
  }

  .tutorial-main-content {
    width: 98%;
    margin: 10px auto 0 auto;
    text-align: center;
    .right-panel {
      display: inline-block;
      width: 25%;
    }
  }
}

.disconnected-black-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
  z-index: 100;
}

.disconnected-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 20%;
  background-color: $primary-color;
  z-index: 101;
}