<!doctype html>
<html>
<head>
    <script type="text/javascript" src="/javascripts/intercom.js/intercom.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
</head>
<body>
<input id="token" type="hidden" value="<%= token %>">

<img id="background-deer" src="/images/UIElements/reindeer-for-pop-up.png">

<img id="sync-button" src="/images/UIElements/pop-up-tick-1.png" onmouseover="hover(this);" onmouseout="unhover(this);">

<script type="application/javascript">

    function forceSync (){
        $.ajax({
            type:'POST',
            url:'/api/dashboard/forcesyncivle',
            data:{
                'token':$('#token').val()
            },
            dataType:'json',
            success: function(data){
                if (data.success){
                    var intercom = Intercom.getInstance();
                    intercom.emit('login_result', {message: 'login_success'});
                    Cookies.set('token', $('#token').val(), {path: '/',expires:30});
                    window.close();
                }
                else {
                    console.log('sync failed, err: '+data.message);
                }

            }
        });
    };

    $('#sync-button').click(function () {

        var buttonSound = new Audio("/sounds/button_press.wav");
        buttonSound.play();
        forceSync();
//        var intercom = Intercom.getInstance();
//        intercom.emit('login_result', {message: 'login_success'});
//        Cookies.set('token', $('#token').val(), {path: '/',expires:30});
//        window.close();
        $('#sync-button').hide();
        $('#background-deer').hide();
        document.body.style.backgroundImage = "url('/images/UIElements/pop-up-loading.gif')";
    });

    function hover(element) {
        element.setAttribute('src', '/images/UIElements/pop-up-tick-2.png');
    }
    function unhover(element) {
        element.setAttribute('src', '/images/UIElements/pop-up-tick-1.png');
    }

</script>
</body>
</html>

<style>

    body {
        position: relative;
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: 280px 280px;
        height: 280px;
        width: 280px;
        overflow: hidden;
    }

    #sync-button {
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 60%;
        right: 8%;
        cursor: pointer;
    }

    #background-deer {
        margin: 0;
        padding: 0;
        position: relative;
        z-index: -1;
    }
</style>