<!doctype html>
<html>
<head>
    <script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>
    <script type="text/javascript" src="/javascripts/intercom.js/intercom.js"></script>
</head>
<body>
<input id="token" type="hidden" value="<%= token %>">

<img id="sync-button" src="/images/UIElements/pop-up-tick-1.png" onmouseover="hover(this);" onmouseout="unhover(this);">

<script type="application/javascript">

    function forceSync (){
        $.ajax({
            type:'POST',
            url:'/api/dashboard/forcesyncivle',
            data:{
                'token':$('#token').val()
            },
            dataType:'json',
            success: function(data){
                var intercom = Intercom.getInstance();
                intercom.emit('login_result', {message: 'login_success'});
                Cookies.set('token', $('#token').val(), {path: '/',expires:30});
                window.close();
            }
        });
    };

    $('#sync-button').click(function () {
        forceSync();

        $('#sync-button').hide();

        document.body.style.backgroundImage = "url('/images/UIElements/pop-up-loading.gif')";

    });

    function hover(element) {
        element.setAttribute('src', '/images/UIElements/pop-up-tick-2.png');
    }
    function unhover(element) {
        element.setAttribute('src', '/images/UIElements/pop-up-tick-1.png');
    }

</script>
</body>
</html>

<style>

    body {
        position: relative;
        margin: 0;
        padding: 0;
        background: url("/images/UIElements/reindeer-for-pop-up.png");
        -webkit-background-size: cover;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }

    #sync-button {
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 60%;
        right: 8%;
        cursor: pointer;
    }
</style>