<!DOCTYPE html>
<html>

<head style="height:100%">
    <title>Tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/tutorial.css" rel="stylesheet">

	<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js'></script>
    <script type='text/javascript' src='/javascripts/tutorial.js'></script>
</head>

<!-- JavaScript placed at the end of the document so the pages load faster -->

<script src="/javascripts/bootstrap.min.js"></script>
<!-- <script src="/javascripts/UIControllers/SocketController.js"></script> -->


<body style="height:100%">

<h1><%= tutorial.coursename %></h1>
<%- include components/navbar.ejs %>
<%- include components/presentation.ejs %>


</body>
</html>