.slide {
  position: relative;
  box-shadow: 1vh 1vh #dd9a20;
  background-color: white;
  img {
    width: 100%;
  }
  .whiteboard-canvas-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  .blank {
    width: 100%;
    padding-top: 60%;
    background-color: white;
  }
}