<!DOCTYPE html>
<html>
<head>
    <title>Reindeer - Dashboard</title>
    <script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,400,400italic' rel='stylesheet' type='text/css'>
</head>
<body>

<ul>
    <li><a class="active" href="/">Reindeer</a></li>
    <li><a class="active" href="/dashboard">Dashboard</a></li>
    <li style="float:right"><a class="active" id="logout" >Log out</a></li>
</ul>

<div class="user-profile-container" >
    <div class="user-profile-inner-container">
        <img class="profile-pic" src="/images/UIElements/reindeer-profile-pic.gif">
        <h1><%= user.name %></h1>
        <h1 id="id"><%= user.id %></h1>
    </div>
    <img class="my-tutorials-tab" src="/images/UIElements/my-tutorials-tab.png">
</div>

<div class="tutorial-list-container">
    <!--
        <ul id="modules">
        </ul>
     -->
</div>

<script>

    $("#logout").on("click", function(event){
        Cookies.remove('token');
        location.assign("/");
    });

    var refreshTutorialURL = "<%= urls.refreshTutorials %>";
    var createSessionURL = "<%= urls.createSessions %>";

    function getAllAvailableTutorials(message) {
        if (message.success) {
            console.log("Refresh tutorial result:", message.result);
            if (Object.keys(message.result) == 0) {
                displayNone();
            } else {
                showCourseInfo(message.result);
            }
        } else {
            console.log("Encounter Error while pulling tutorial info from server", message.message);
        }
    }

    function showCourseInfo(courseInfo) {
        addModulesToView(courseInfo);
        addTutorialSessionToModuleView(courseInfo);
        showDiv();
        addEndOfListIcon();
    }

    /**
     * ================= View Functions =================
     * ==================================================
     * */
    function addModulesToView(courseInfo) {
        var moduleList = Object.keys(courseInfo);
        for (var moduleIndex in moduleList) {
            var courseCode = escapeName(moduleList[moduleIndex]);
            var iconCode = courseCode.substring(0, 2);
            $('.tutorial-list-container').append(`
                <div class="tutorial-session" id=${courseCode}>
                    <div class="tutorial-icon">
                        <h1 class="icon-code">${iconCode}</h1>
                    </div>

                    <div class="tutorial-info">
                        <h1><b>${courseCode}</b></h1>
                    </div>

                    <div class="tutorial-buttons">

                    </div>
                </div>
            `)
        }
    }
    function addTutorialSessionToModuleView(courseInfo) {
        // Add tutorials for each modules
        var moduleList = Object.keys(courseInfo);
        for (var moduleIndex in moduleList) {

            var moduleTutorialList = courseInfo[moduleList[moduleIndex]];
            for (var tutorialIndex in moduleTutorialList) {

                var moduleName = moduleList[moduleIndex];
                var moduleIVLEInfo = moduleTutorialList[tutorialIndex];

                var moduleElement = '#' + escapeName(moduleName);
                var generalInfo = getGeneralInfo(moduleIVLEInfo);
                var moduleCode = generalInfo.courseCode;
                var moduleTitle = moduleIVLEInfo.coursename;
                var groupName = generalInfo.groupName;
                var tutorialID = getTutorialID(moduleIVLEInfo);
                var roomSessionStarted = generalInfo.roomSessionStarted;

                $(moduleElement).find('.tutorial-info').append(`
                    <h2>${moduleTitle}</h2>
                    <h2>Group: ${groupName}</h2>
                `)

                if (isTutor(generalInfo)) {
                    if (roomSessionStarted) {

                        addEndButton(moduleElement, tutorialID);

                        addJoinButton(moduleElement, tutorialID);

                        $(moduleElement).find(".tutorial-buttons").append(`
                        
                        <li id=${tutorialID}>
                            <div>
                                <h4>Session Status</h4>
                                <button onclick="createSession(\'${tutorialID}\')">Create Session</button>
                                <button disabled>End Session</button>
                                <form action="http://localhost:3000/tutorial/${tutorialID}" target=_blank>
                                    <input type="submit" value="Join Tutorial">
                                </form>
                                <form action="http://localhost:3000/workbin/${moduleCode}/${groupName}/${tutorialID}" target=_blank>
                                    <input type="submit" value="Workbin">
                                </form>
                            </div>
                        </li>
                    `);
                    } else {

                        addCreateButton(moduleElement, tutorialID);

                        addJoinButton(moduleElement, tutorialID);

                        $(moduleElement).find(".tutorial-buttons").append(`
                        <li id=${tutorialID}>
                            <div>
                                <h4>Session Status</h4>
                                <button onclick="createSession(\'${tutorialID}\')">Create Session</button>
                                <button disabled>End Session</button>
                                <form action="http://localhost:3000/tutorial/${tutorialID}" target=_blank>
                                    <input type="submit" value="Join Tutorial" disabled>
                                </form>
                                <form action="http://localhost:3000/workbin/${moduleCode}/${groupName}/${tutorialID}" target=_blank>
                                    <input type="submit" value="Workbin">
                                </form>
                            </div>
                        </li>
                    `);
                    }

                } else {
                    if (roomSessionStarted) {
                        $(moduleElement).find(".tutorial-buttons").append(`
                        <li id=${tutorialID}>
                            <div>
                                <h4>Session Status</h4>
                                <form action="http://localhost:3000/tutorial/${tutorialID}" target=_blank>
                                    <input type="submit" value="Join Tutorial">
                                </form>

                                <form action="http://localhost:3000/workbin/${moduleCode}/${groupName}/${tutorialID}" target=_blank>
                                    <input type="submit" value="Workbin">
                                </form>
                            </div>
                        </li>
                        `);
                    } else {
                        $(moduleElement).find(".tutorial-buttons").append(`
                        <div class="button" id="create-button">
                            <h3>Create</h3>
                        </div>

                        <div class="button" id="join-button">
                            <h3>Join</h3>
                        </div>

                        <div class="button" id="files-button">
                            <h3>Files</h3>
                        </div>
                        <li id=${tutorialID}>
                            <div>
                                <h4>Session Status</h4>
                                <form action="http://localhost:3000/tutorial/${tutorialID}" target=_blank>
                                    <input type="submit" value="Join Tutorial" disabled>
                                </form>
                                <form action="http://localhost:3000/workbin/${moduleCode}/${groupName}/${tutorialID}" target=_blank>
                                    <input type="submit" value="Workbin">
                                </form>
                            </div>
                        </li>
                        `);
                    }
                }
            }
        }
    }

    function displayNone() {
        $('#modules').html('No Tutorial');
    }

    function addEndOfListIcon() {
        $('.tutorial-list-container').append(`
            <img class="end-of-list" src="/images/UIElements/end-of-tutorial-list.png">
        `);
    }

    function showDiv() {
        // If there are hidden divs left
        if($('div:hidden').length) {
            // Fade the first of them in
            $('div:hidden:first').fadeIn();
            // And wait one second before fading in the next one
            setTimeout(showDiv, 800);
        }
    }

    function addCreateButton(moduleElement, tutorialID) {
        $(moduleElement).find(".tutorial-buttons").append(`
            <div class="button" id="create-button">
                <h3>Create</h3>
            </div>
        `);

        $(moduleElement).find(".tutorial-buttons").find("#create-button").click( function() {
            createSession(tutorialID);
            location.reload();
        });
    }

    function addEndButton(moduleElement, tutorialID) {
        $(moduleElement).find(".tutorial-buttons").append(`
            <div class="button" id="end-button">
                <h3>End</h3>
            </div>
        `);

        $(moduleElement).find(".tutorial-buttons").find("#end-button").click( function() {
        });
    }

    function addJoinButton(moduleElement, tutorialID) {
        $(moduleElement).find(".tutorial-buttons").append(`
            <div class="button" id="join-button">
                <h3>Join</h3>
            </div>
        `);

        $(moduleElement).find(".tutorial-buttons").find("#join-button").click( function() {
            window.open("/tutorial/" + tutorialID);
        });
    }





    /**
     * ========== Session Handling Functions ============
     * ==================================================
     * */
    function createSession(tutorialID) {
        $.ajax({
            type: "POST",
            url: createSessionURL,
            data: {
                token: Cookies.get('token'),
                roomID:tutorialID
            },
            success: function(result) {
                console.log(result);
            },
            error: logError("Fail to create room"),
            dataType: "JSON"
        });
    }

    /**
     * ================ Helper Functions ================
     * ==================================================
     * */

    function isTutor(generalInfo) {
        return generalInfo.role === "tutor";
    }

    function getGeneralInfo(tutorialInfo) {
        var generalInfo = {};
        generalInfo.groupName = tutorialInfo.name;
        generalInfo.week = tutorialInfo.week;
        generalInfo.day = tutorialInfo.day;
        generalInfo.time = tutorialInfo.time;
        generalInfo.role = tutorialInfo.users[0].userTutorial.role;
        generalInfo.roomSessionStarted = tutorialInfo.roomSessionStarted;
        generalInfo.courseCode = tutorialInfo.coursecode;

        return generalInfo;
    }

    function getTutorialID(tutorialInfo) {
        return tutorialInfo.id;
    }

    function escapeName(idName) {
        return escape(idName).replace(/\//g, "-");
    }

    function logError(msgHeader) {
        return function(result) {
            console.log(msgHeader, result);
        }
    }

    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: refreshTutorialURL,
            data: {token: Cookies.get('token')},
            success: getAllAvailableTutorials,
            error: logError("Fail to pull available tutorials"),
            dataType: "JSON"
        });
    });
</script>

</body>
</html>

<style>
    body {
        margin:0;
        background-color: #ffb526;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #213045;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 16px;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif; font-weight: 400;
        font-size: 28px;
    }

    li a:hover {
        background-color: #44767f;
    }

    #logout {
        cursor: pointer;
    }

    .user-profile-container {
        display:inline-block;
        float: left;
        width: 25vw;
        height: calc(100vh - 76px);
        margin: auto;
        background-color: white;
        box-shadow: 1vh 0vh  #dd9a20;
    }

    .tutorial-list-container {
        float: left;
        width: 74vw;
        height: calc(100vh - 76px);
        margin: auto;
        overflow-y: scroll;
    }

    .user-profile-inner-container {
        width: 20vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
    }

    .profile-pic {
        width: 19vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vh;
        box-shadow: 1vh 1vh  #e5e5e5;
        border-style: solid
    }

    h1 {
        font-family: 'Source Sans Pro', sans-serif; font-weight: 300;
        font-size: 6vh;
        color: #213045;
        margin: 0;
        padding: 0;
    }

    h2 {
        font-family: 'Source Sans Pro', sans-serif; font-weight: 300;
        font-size: 4vh;
        color: #213045;
        margin: 0;
        padding: 0;
    }

    h3 {
        font-family: 'Source Sans Pro', sans-serif; font-weight: 400;
        font-size: 4vh;
        color: white;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #id {
        font-size: 4vh;
    }

    .my-tutorials-tab {
        position: relative;
        margin-top: 5vh;
        width: 27.9vw;
        -webkit-animation-name: moveTab;
        -webkit-animation-duration: 1s;
    }

    @-webkit-keyframes moveTab {
        from {
            left:-12%;}
        to {left:0;}
    }

    #modules {
        background-color: white;
        margin-left: 10vh;
        margin-top: 20vh;
    }

    .tutorial-session {
        width: 65vw;
        height: 30vh;
        background-color: white;
        box-shadow: 1vh 1vh  #dd9a20;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
        display: none;
    }

    /* scroll bar style */
    ::-webkit-scrollbar {
        width: 12px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-border-radius: 10px;
        border-radius: 10px;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background:  #213045;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background:  #213045;
    }

    .end-of-list {
        width: 15vh;
        display: block;
        margin: auto;
        margin-top: 4vh;
        margin-bottom: 2vh;
    }

    .tutorial-icon, .tutorial-info, .tutorial-buttons {
        display: inline-block;
        vertical-align: top;
    }

    .tutorial-icon {
        margin: 2vh 2vh 2vh 2vh;
        width: 15vw;
        height: 26vh;
        border-style: solid
    }

    .tutorial-info {
        margin: 2vh 2vh 2vh 2vh;
        width: 27vw;
        height: 26vh;
    }

    .tutorial-buttons {
        width: 16vw;
        height: 30vh;
    }

    .icon-code {
        font-size: 20vh;
        text-align: center;
    }

    .button {
        float: right;
        margin-top: 1.5vh;
        width: 10vw;
        height: 8vh;
        box-shadow: 0.6vh 0.6vh  #e5e5e5;
        line-height: 8vh;
    }

    #create-button {
        background-color: #2a4265;
        cursor: pointer;
    }

    #end-button {
        background-color: #2a4265;
        cursor: pointer;
    }

    #join-button {
        background-color: #ffb526;
        cursor: pointer;
    }

    #join-unable-button {
        background-color: #c6c6c6;
        cursor: not-allowed;
    }

    #files-button {
        background-color: #44767f;
        cursor: pointer;
    }




</style>