<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript" src="/javascripts/webRTCAdapter.js"></script>
</head>
<body>
<h1>Dashboard</h1>

<script>
    var url = "<%= urls.refreshTutorials %>";
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: url,
            data: {token: Cookies.get('token')},
            success: (
                    function(message) {
                        if (message.success) {
                            console.log("Refresh tutorial result:", message.result);
                        } else {
                            console.log("Encounter Erro while pulling tutorial info from server", message.message);
                        }
                    }
            ),
            dataType: "JSON"
        });
    });
</script>

</body>
</html>
