<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <script type="application/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
    <script type="application/javascript" src="/javascripts/js.cookie.js"></script>
    <script type="application/javascript" src="/javascripts/socket.io-1.3.7.js"></script>
    <script type="application/javascript" src="/javascripts/webRTCAdapter.js"></script>
</head>
<body>
<h1>Dashboard</h1>

<script>
    var url = "<%= urls.refreshTutorials %>";
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: url,
            data: {token: Cookies.get('token')},
            success: (
                    function(message) {
                        if (message.success) {
                            console.log("Refresh tutorial result:", message.result);
                        } else {
                            console.log("Encounter Erro while pulling tutorial info from server", message.message);
                        }
                    }
            ),
            dataType: "JSON"
        });
    });
</script>

</body>
</html>
