<html>
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>
    <script type='text/javascript' src='/javascripts/dashboard.js'></script>
</head>

<body>
<script>
    $(document).ready(function() {
        dashboard.init();
    })
</script>

<div id = "fileUploader">
    <div>
        <h1>Tutorial Files</h1>
        <div id="file-space" v-model="fileSpace">
        </div>
    </div>
    <!-- Upload Module UI -->
    <div id="uploadWrapper">
        <h1 id="title">
            <%= workbinName %> Workbin
        </h1>
        <h1>
            <form id="fileForm">
                <input type="file" id="fileSelect" v-model="fileSelect"/>
                <button type="submit" id="uploadButton" v-on:click="submit">Upload</button>
            </form>
        </h1>
    </div>
</div>

</body>
</html>