<html>
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>
    <script type='text/javascript' src='/javascripts/dashboard.js'></script>
</head>

<body>
<script>
    var tutorialID = "<%= tutorialID %>";
    $(document).ready(function() {
        dashboard.init(tutorialID);
    })
</script>

<div id = "fileUploader">
    <div>
        <h1>Tutorial Files</h1>
        <li v-for="file in fileSpace">
            <span>{{"fileName:"}}{{ file.fileName }}{{"    userID:"}}{{file.userID}}</span>
            <button v-on:click="delete($index)">Delete</button>
        </li>
    </div>
    <!-- Upload Module UI -->
    <div id="uploadWrapper">
        <h1 id="title">
            <%= workbinName %> Workbin
        </h1>
        <h1>
            <form id="fileForm" method="POST" enctype="multipart/form-data">
                <input type="file" id="fileSelect" v-model="fileSelect"/>
                <!--<button type="submit" id="uploadButton" v-on:click="submit">Upload</button>-->
            </form>
            <button  v-on:click="submit">Upload</button>
        </h1>
    </div>
</div>

</body>
</html>