<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
</head>
<body>
    <h1><%= title %></h1>
    <p>eTutorial</p>
    <% if(user){ %>
    <p>Welcome, <%= user.name %></p>
    <button id="logout_button">Logout</button>
    <% } else{ %>
    <a href="/login">Login</a>
    <% } %>
    <script>
        $('#logout_button').click(function(){
            Cookies.remove('token');
            location.reload();
        })
    </script>
</body>
</html>
