<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
</head>
<body>
    <h1><%= title %></h1>
    <p>eTutorial</p>
    <% if(user){ %>
    <p>Welcome, <%= user.name %></p>
    <% } else{ %>
    <a href="/login">Login</a>
    <% } %>
</body>
</html>
