<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="/javascripts/intercom.js/intercom.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/SourceSansPro.css' />
</head>
<body>

    <ul>
        <li><a class="active" href="/">Reindeer</a></li>
        <li style="float:right"><a class="active" href="https://github.com/nus-mtp/etutorial">GitHub Repo</a></li>
        <% if(user){ %>
            <li style="float:right"><a class="active" id="logout" >Log out</a></li>
        <% } %>
    </ul>

    <div class="logo-containter">
        <img class="logo" src="/images/UIElements/loginReindeer.png">
    </div>

    <div class="login-section-containter">
        <div class="title-containter">
            <h1>
                <i>Reindeer</i>
            </h1>
            <h2>
                <i>- A Leap Towards Better Tutorial Experiences -</i>
            </h2>
            <% if(user){ %>
                <h2 class="welcomeMessage">
                    Welcome back, <%= user.name %>!
                </h2>
                <a href="/dashboard"> <img class="proceed-button" src="/images/UIElements/proceedButton.png"> </a>
            <% } else{ %>
                <img class="login-button" src="/images/UIElements/loginButton.png">
            <% } %>

        </div>
    </div>



</body>
</html>

<script>

    var logoutConfirmation = "Are you sure you want to log out?";

    $("#logout").on("click", function(event){
            Cookies.remove('token');
            location.reload();
    });


    $(".login-button").on("click", function(event){
        window.open("/login", "IVLE Login", "directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no, top=600, left=670, width=280, height=280");

        var intercom = Intercom.getInstance();

        intercom.on('login_result', function(data) {

            window.location.href = '/dashboard';
        });
    });

</script>

<style>

</style>
