<html>

<head>
	<script src="/javascripts/jquery-2.1.4.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		$(function () {
			var iosocket = io('http://<%= ip %>:3000/rooms', {token: Cookies.get('token')});
			iosocket.on('connect', function () {

				iosocket.on('msgToRoom', function (message) {
					$('#incomingChatMessages').append('msgToRoom from ' + $('<li></li>').text(message));
				});
				iosocket.on('msgToGroup', function (message) {
					$('#incomingChatMessages').append('msgToGroup from ' + $('<li></li>').text(message));
				});
				iosocket.on('msgToUser', function (message) {
					$('#incomingChatMessages').append('personalMsg from ' + $('<li></li>').text(message));
				});
				iosocket.on('systemMsg', function (message) {
					$('#incomingChatMessages').append('System Msg : ' + $('<li></li>').text(message));
				});
			});

			$('#outgoingChatMessage').keypress(function (event) {
				if (event.which == 13) {
					event.preventDefault();
					//$('#outgoingChatMessage').val();
					$('#outgoingChatMessage').val('');
				}
			});
		});
	</script>
</head>

<body>
Incoming Chat:&nbsp;
<ul id="incomingChatMessages"></ul>
<br /> message:
<input type="text" id="outgoingChatMessage">
<br /> target:
<input type="text" id="target">
</body>

</html>