<html>

<head>
	<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js'></script>
	<script type='text/javascript' src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script>
		$(function () {
			var iosocket = io.connect('http://<%= ip %>:3000/rooms');
			iosocket.on('connect', function () {

				// iosocket.emit('set nickname','tom');
				// $('#incomingChatMessages').append($('<li>Answered</li>'));

				iosocket.on('message', function (message) {
					$('#incomingChatMessages').append($('<li></li>').text(message));
				});
				iosocket.on('news', function (data) {
					$('#incomingChatMessages').append($('<li></li>').text(data.hello));
				});
				iosocket.on('disconnect', function () {
					$('#incomingChatMessages').append('<li>Disconnected</li>');
				});
			});

			$('#outgoingChatMessage').keypress(function (event) {
				if (event.which == 13) {
					event.preventDefault();
					iosocket.emit('message', $('#outgoingChatMessage').val());
					// $('#incomingChatMessages').append($('<li></li>').text($('#outgoingChatMessage').val()));
					$('#outgoingChatMessage').val('');
				}
			});
		});
	</script>
</head>

<body>
	Incoming Chat:&nbsp;
	<ul id="incomingChatMessages"></ul>
	<br /> message:
	<input type="text" id="outgoingChatMessage">
</body>

</html>