<body>
<ul>
    <li><a class="active" href="/">Reindeer</a></li>
    <li style="float:right"><a class="active" href="https://github.com/nus-mtp/etutorial">GitHub Repo</a></li>
</ul>

<img class="reindeer" src="/images/UIElements/many-reindeers-for-permission-denied-page.png">

</body>
<style>
    body {
        margin:0;
        background-color: #ffb526;
        overflow: hidden;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #213045;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 16px;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif; font-weight: 400;
        font-size: 28px;
    }

    li a:hover {
        background-color: #44767f;
    }

    .reindeer {
        position: relative;
        display: block;
        overflow: hidden;
        width: 100vw;
        top: -10%;
        z-index: -1;
        margin-left: 0;
        margin-right: 0;
    }

    h1 {
        font-family: 'Source Sans Pro', sans-serif; font-weight: 200;
        font-size: 8vw;
        color: white;
        text-shadow: 0.5vh 0.5vh #dd9a20;
        margin: 0;
        padding: 0;
        margin-top: 0vh;
    }

    h2 {
        font-family: 'Source Sans Pro', sans-serif; font-weight: 400;
        font-size: 4.5vh;
        color: white;
        margin:0;
        padding:0;
        text-align: center;
    }

    #hidden-text {
        color: #ffb526;
    }

    .text {
        position: absolute;
        top: 76%;
        margin-left: 3%;
    }

</style>
