<html>
    <head>
        <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    </head>

    <script>
        function change() {
        $.ajax({
            url: "http://localhost:3000/fileupload",
            success: function (data) {
                var element = document.getElementById("header");
                element.innerHTML = data;
            },
            type: 'GET'
        });
        }

        function sendText() {
        var textValue = $("#input").val();
        var data = {textValue};
        $.ajax({
            url: "http://localhost:3000/fileupload",
            data:data,
            success: function (data) {
                console.log(data);
                var element = document.getElementById("header");
                element.innerHTML = data.textValue;
            },
            type: 'POST'
        });
        }

        //---------------------- testUpload ----------------------
        $(document).ready(function() {


            var form = document.getElementById('file-form');
            var fileSelect = document.getElementById('file-select');
            var uploadButton = document.getElementById('upload-button');

            form.onsubmit = function(event) {
                event.preventDefault();

                // Update button text.
                uploadButton.innerHTML = 'Uploading...';

                // Get the selected files from the input.
                var files = fileSelect.files;

                // Create a new FormData object.
                var formData = new FormData();

                // Loop through each of the selected files.
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];

                    // Check the file type.
                    if (!file.type.match('image.*')) {
                        continue;
                    }

                    // Add the file to the request.
                    formData.append('photo', file, file.name);
                }

                // Set up the request.
                var xhr = new XMLHttpRequest();

                // Open the connection.
                xhr.open('POST', 'http://localhost:3000/fileupload', true);

                // Set up a handler for when the request finishes.
                xhr.onload = function (result) {
                    if (xhr.status === 200) {
                        // File(s) uploaded.
                        uploadButton.innerHTML = 'Upload';
                        console.log(result);
                    } else {
                        alert('An error occurred!');
                    }
                };

                xhr.send(formData);

            }
        });
    </script>

    <h1 id="header">What does the server want to say?</h1>

    <h1> <button onclick="change()">Click Me!</button> <h1>

    <h1>What to say?</h1> <input type="text" name="text" id="input">

    <button type="submit" value="Submit" onclick="sendText()">Submit</button>

    <h1>
        <form id="file-form" action="http://localhost:3000/fileupload" method="POST" enctype="multipart/form-data">
            <input type="file" id="file-select" name="photo" />
            <button type="submit" id="upload-button">Upload</button>
        </form>
    </h1>

</html>