a {
  color: white;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300; }

button {
  outline: none; }

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #213045; }
  .navbar .navbar-item {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 28px; }
    .navbar .navbar-item:hover {
      background-color: #44767f; }
  .navbar #logout {
    cursor: pointer;
    float: right; }

a {
  color: white;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

button {
  outline: none; }

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #213045; }

.navbar .navbar-item {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 28px; }

.navbar .navbar-item:hover {
  background-color: #44767f; }

.navbar #logout {
  cursor: pointer;
  float: right; }

body {
  margin: 0;
  background-color: #ffb526;
  min-height: 800px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  overflow: hidden; }

.user-profile-container {
  display: inline-block;
  float: left;
  width: 22%;
  height: calc(100vh - 76px);
  min-height: 600px;
  margin: auto;
  background-color: white;
  box-shadow: 10px 0px  #dd9a20; }

.tutorial-list-container {
  float: left;
  width: 78%;
  height: calc(100vh - 76px);
  min-height: 600px;
  margin: auto;
  overflow-y: scroll; }

.user-profile-inner-container {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%; }

.profile-pic {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  box-shadow: 10px 10px  #e5e5e5;
  border-style: solid; }

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 350%;
  color: #213045;
  margin: 0;
  padding: 0; }

@media screen and (max-width: 1270px) {
  .user-name {
    font-size: 180%; } }

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 250%;
  color: #213045;
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 1270px) {
    h2 {
      font-size: 200%; } }

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 220%;
  color: white;
  margin-top: 6%;
  padding: 0;
  text-align: center;
  vertical-align: middle; }

#id {
  font-size: 250%; }
  @media screen and (max-width: 1270px) {
    #id {
      font-size: 150%; } }

.my-tutorials-tab {
  position: relative;
  margin-top: 20%;
  width: 112%;
  -webkit-animation-name: moveTab;
  -webkit-animation-duration: 1s; }

@-webkit-keyframes moveTab {
  from {
    left: -12%; }
  to {
    left: 0; } }

/*
#modules {
  background-color: white;
  margin-left: 10vh;
  margin-top: 20vh; }
*/
.tutorial-session {
  width: 88%;
  height: 35%;
  min-height: 300px;
  background-color: white;
  box-shadow: 10px 10px  #dd9a20;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%; }

/* scroll bar style */
::-webkit-scrollbar {
  width: 12px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #213045;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: #213045; }

.end-of-list {
  width: 15vh;
  display: block;
  margin: auto;
  margin-top: 4vh;
  margin-bottom: 2vh; }

.tutorial-icon, .tutorial-info, .tutorial-buttons {
  display: inline-block;
  vertical-align: top; }

.tutorial-icon {
  margin: 1.75%;
  width: 20%;
  min-width: 220px;
  height: 86%;
  border-style: solid; }
  @media screen and (max-width: 1270px) {
    .tutorial-icon {
      display: none; } }

.tutorial-info {
  margin: 2%;
  width: 45%;
  height: 90%; }
  @media screen and (max-width: 1270px) {
    .tutorial-info {
      margin-left: 8%; } }

.course-name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.tutorial-buttons {
  width: 20%;
  height: 30%; }
  @media screen and (max-width: 1270px) {
    .tutorial-buttons {
      width: 40%; } }

.icon-code {
  font-size: 1000%;
  margin-top: 10%;
  text-align: center;
  display: block; }

.button {
  margin-top: 7%;
  width: 90%;
  height: 86%;
  box-shadow: 6px 6px  #e5e5e5;
  text-align: center;
  line-height: 450%; }
  @media screen and (max-width: 1270px) {
    .button {
      margin-top: 3%; } }

.create-button {
  background-color: #2a4265;
  cursor: pointer; }

.end-button {
  background-color: #2a4265;
  cursor: pointer; }

.join-button {
  background-color: #ffb526;
  cursor: pointer; }

.join-unable-button {
  background-color: #c6c6c6;
  cursor: not-allowed; }

.files-button {
  background-color: #44767f;
  cursor: pointer; }

.fileListBox {
  padding: 20px;
  border-radius: 2px;
  background-color: #44767f;
  color: white;
  position: absolute;
  top: 50vh;
  left: 25vw;
  transform: translateX(-100%);
  transform: translateY(-50%);
  z-index: 10;
  width: 500px;
  height: 500px;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.1);
  /* scroll bar style */
  /* Track */
  /* Handle */ }
  .fileListBox ::-webkit-scrollbar {
    width: 12px; }
  .fileListBox ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .fileListBox ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #213045;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
  .fileListBox ::-webkit-scrollbar-thumb:window-inactive {
    background: #213045; }

.fileListTitleContainer {
  height: 20%; }

.fileListIcon {
  display: inline-block;
  height: 70px;
  margin-left: 150px; }

.fileListTitle {
  display: inline-block;
  font-size: 60px;
  color: white;
  margin-left: 10px;
  transform: translateY(-20%); }

.fileListContainer {
  overflow: auto;
  height: 400px; }
