    #colorPalette {
        margin-top: 1%;
    }

    #circleRed {
        background: red;
    }

    #circleOrange {
        background: orange;
    }

    #circleYellow {
        background: yellow;
    }

    #circleGreen {
        background: green;
    }

    #circleBlue {
        background: blue;
    }

    #circlePurple {
        background: purple;
    }

    #circleGray {
        background: gray;
    }

    #circleBlack {
        background: black;
    }

    #tutorial-mockup-layout {
    	width: 100%;
        height: auto;
    }

    .whiteboard-wrapper {
        position: relative;
        width:100%;
        height:100%;
    }

    .whiteboard-toolbar {
    	position: relative;
    	float: left;

    	width: 10%;
        margin-bottom: 10%;
 
        text-align: center;
        padding: 2px;
        border-radius: 3px;
        padding: 4px;
        /*border: 3px outset #4B6DCC;*/
    }

    .whiteboard-canvas-wrapper {
		width: 80%;
		height: auto;
		background-color: black;
        float: left;
        z-index: 100;
    }

    .tool-label {
        font-size: 1em;
        margin: 0 0 4px 0;
        font-weight: 100;
    }

    .plalette-color {
        width: 25px;
        height: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px; 

        display:inline-block
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 6px;
    }

    .clear-canvas-button {
    	color: black;
    	background-color: white;
    	border: 1px solid white;
    	font-size: 0.6em;
    	cursor: pointer;
    }

    .clear-canvas-button:hover {
		color: white;
    	background-color: black;
    }

    .plalette-color.selected {
        border: 2px solid black;
    }

    body {
        padding: 0;
        font-family: 'Roboto', sans-serif;
        background: white;
        color: black;
        margin: 0;
    }

    .canvas-container {
    	width: 100%;
    	height: 100%;
    }

    #color-picker-button {
        display: none;
        width: 100%;
        height: 100px;
        background-color: white;
        border: 1px solid white;
        border-radius: 3px;
    }

    #color-picker-button:hover {
        border: 1px solid yellow;
        cursor: pointer;
    }

    

    #canvas_picker {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1001;
    }

    #color-picker-wrapper {
        display: inline;
        border-radius: 3px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;

        padding: 6px;
        position: absolute;
        background-color: #262626;
        z-index: 1;
        left:100%;
    }

    #color-picker-button:hover #color-picker-wrapper{
        display: inline !important;
    }

    h1 {
        font-family: 'Indie Flower', cursive;
        margin: 0 0 5px 5px;
    }

    