a {
  color: white;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300; }

button {
  outline: none; }

.navbar {
  margin: 0;
  padding: 0 0 0 10px;
  overflow: hidden;
  background-color: #213045;
  color: white;
  font-family: 'Source Sans Pro', sans-serif; }
  .navbar .coursename-label {
    float: left;
    margin: 0;
    width: 80%;
    line-height: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .navbar .navbar-list {
    list-style-type: none;
    float: right;
    margin: 0; }
    .navbar .navbar-list .navbar-item {
      float: left;
      text-align: center;
      padding: 20px 16px;
      text-decoration: none;
      font-weight: 400;
      font-size: 28px; }
      .navbar .navbar-list .navbar-item:hover {
        background-color: #44767f; }
    .navbar .navbar-list .active {
      color: white; }
    .navbar .navbar-list #exit {
      cursor: pointer;
      float: right; }

.presentation-wrapper {
  display: inline-block;
  position: relative;
  width: 70%;
  vertical-align: top; }
  .presentation-wrapper .presentations-panel {
    vertical-align: top;
    display: inline-block;
    width: 10%;
    margin-right: 1%;
    max-height: 500px;
    overflow-y: auto; }
    .presentation-wrapper .presentations-panel .upload-button h1 {
      margin: 0;
      line-height: 50px;
      height: 100%;
      background-color: rgba(1, 1, 1, 0.8);
      color: white; }
    .presentation-wrapper .presentations-panel ul {
      margin: 0;
      padding: 3px; }
      .presentation-wrapper .presentations-panel ul li {
        position: relative;
        margin: 0 0 5px 0;
        width: 100%;
        height: 50px;
        background-color: white;
        list-style-type: none;
        cursor: pointer;
        box-shadow: 1vh 1vh  #dd9a20; }
        .presentation-wrapper .presentations-panel ul li h4 {
          position: absolute;
          margin: 0;
          bottom: 0;
          color: white;
          font-size: 0.8em;
          background-color: rgba(1, 1, 1, 0.7);
          padding: 1px;
          text-align: center;
          width: 100%;
          z-index: 2; }
        .presentation-wrapper .presentations-panel ul li img {
          position: relative;
          width: 100%;
          height: 100%; }
        .presentation-wrapper .presentations-panel ul li.active {
          border: 2px solid #44767f; }
  .presentation-wrapper .slide-wrapper {
    display: inline-block;
    width: 88%;
    box-shadow: 1vh 1vh #dd9a20; }
    .presentation-wrapper .slide-wrapper .slide-control-panel {
      position: relative;
      width: 100%;
      height: 30px;
      background-color: #e7ebec;
      border: 1px solid #c2c2c2;
      color: #213045; }
      .presentation-wrapper .slide-wrapper .slide-control-panel .previous-button, .presentation-wrapper .slide-wrapper .slide-control-panel .next-button, .presentation-wrapper .slide-wrapper .slide-control-panel .undo-button, .presentation-wrapper .slide-wrapper .slide-control-panel .redo-button {
        position: relative;
        top: 0;
        border: none;
        background: none;
        line-height: 20px;
        height: 20px;
        font-size: 0.5em; }
      .presentation-wrapper .slide-wrapper .slide-control-panel .undo-button {
        float: left;
        line-height: 30px;
        height: 30px; }
      .presentation-wrapper .slide-wrapper .slide-control-panel .redo-button {
        float: left;
        line-height: 30px;
        height: 30px; }
      .presentation-wrapper .slide-wrapper .slide-control-panel .canvas-control-label {
        font-size: 1.5em;
        font-weight: 600;
        margin-right: 2px; }
      .presentation-wrapper .slide-wrapper .slide-control-panel .go-to-wrapper {
        font-weight: 600;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        line-height: 20px;
        overflow: hidden; }
        .presentation-wrapper .slide-wrapper .slide-control-panel .go-to-wrapper input[type=number]::-webkit-inner-spin-button,
        .presentation-wrapper .slide-wrapper .slide-control-panel .go-to-wrapper input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0; }
        .presentation-wrapper .slide-wrapper .slide-control-panel .go-to-wrapper .go-to-input {
          height: 20px;
          line-height: 20px;
          color: white;
          background-color: #213045;
          width: 35px;
          text-align: center;
          border-radius: 5px; }
    .presentation-wrapper .slide-wrapper .slide {
      position: relative;
      background-color: white; }
      .presentation-wrapper .slide-wrapper .slide img {
        width: 100%; }
      .presentation-wrapper .slide-wrapper .slide .whiteboard-canvas-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      .presentation-wrapper .slide-wrapper .slide .blank {
        width: 100%;
        padding-top: 60%;
        background-color: white; }
    .presentation-wrapper .slide-wrapper .upload-selection-panel {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(1, 1, 1, 0.9);
      z-index: 4; }
      .presentation-wrapper .slide-wrapper .upload-selection-panel .close-button {
        color: white;
        position: absolute;
        border: none;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        transition: 0.5s ease background-color;
        background-color: #44767f; }
        .presentation-wrapper .slide-wrapper .upload-selection-panel .close-button:hover {
          background-color: black; }
      .presentation-wrapper .slide-wrapper .upload-selection-panel .buttons-wrapper {
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
        .presentation-wrapper .slide-wrapper .upload-selection-panel .buttons-wrapper .upload-selection__button {
          color: white;
          display: block;
          width: 80%;
          height: 150px;
          margin: 0 auto 20px auto;
          border: none;
          background-color: #44767f;
          font-size: 2em;
          transition: 0.5s ease all;
          cursor: pointer; }
          .presentation-wrapper .slide-wrapper .upload-selection-panel .buttons-wrapper .upload-selection__button:hover {
            background-color: black; }
      .presentation-wrapper .slide-wrapper .upload-selection-panel .upload-file-wrapper {
        display: none; }
      .presentation-wrapper .slide-wrapper .upload-selection-panel.upload-file-selected {
        color: white; }
        .presentation-wrapper .slide-wrapper .upload-selection-panel.upload-file-selected .buttons-wrapper {
          display: none; }
        .presentation-wrapper .slide-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper {
          display: inline-block;
          position: relative;
          top: 40%;
          transform: translateY(-80%);
          width: 70%;
          margin: auto; }
          .presentation-wrapper .slide-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper h2 {
            font-weight: inherit; }
          .presentation-wrapper .slide-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper .custom-file-upload {
            vertical-align: top;
            background-color: #44767f;
            font-weight: inherit;
            display: inline-block;
            height: 80px;
            line-height: 80px;
            font-size: 1.8em;
            width: 20%;
            transition: 0.5s ease background-color;
            cursor: pointer; }
            .presentation-wrapper .slide-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper .custom-file-upload input[type="file"] {
              display: none; }
            .presentation-wrapper .slide-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper .custom-file-upload:hover {
              background-color: black; }
          .presentation-wrapper .slide-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper .chosen-file-display {
            vertical-align: top;
            display: inline-block;
            width: 80%;
            margin-left: -3px;
            height: 80px;
            line-height: 80px;
            font-size: 1.8em;
            background-color: rgba(1, 1, 1, 0.4);
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0 8px 0 8px; }
          .presentation-wrapper .slide-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper #upload-button {
            float: right;
            border: none;
            background-color: #44767f;
            height: 50px;
            line-height: 50px;
            font-size: 1.5em;
            width: 100px;
            cursor: pointer;
            transition: 0.5s ease background-color; }
            .presentation-wrapper .slide-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper #upload-button:hover {
              background-color: black; }
            .presentation-wrapper .slide-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper #upload-button .uploading-indicator {
              display: none; }
            .presentation-wrapper .slide-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper #upload-button.uploading {
              cursor: not-allowed;
              background-color: black; }
              .presentation-wrapper .slide-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper #upload-button.uploading:hover {
                background-color: black; }
              .presentation-wrapper .slide-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper #upload-button.uploading .uploading-indicator {
                display: inline; }
              .presentation-wrapper .slide-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper #upload-button.uploading .normal-indicator {
                display: none; }

.chat-box {
  width: calc(100% - 16px - 10px);
  padding: 8px;
  height: 450px;
  background-color: white;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 1vh 1vh  #dd9a20; }
  .chat-box li {
    list-style-type: none; }
  .chat-box .chatbox-title {
    margin: 2px; }
  .chat-box .message-container {
    padding: 5px;
    width: 100%;
    height: 75%;
    margin: 8px auto 0 auto;
    overflow-y: auto;
    background-color: #e7ebec; }
    .chat-box .message-container .message-wrapper {
      display: block; }
      .chat-box .message-container .message-wrapper .message {
        padding: 5px;
        border-radius: 5px;
        color: black;
        max-width: 100%;
        word-wrap: break-word;
        margin-bottom: 3px;
        text-align: left; }
        .chat-box .message-container .message-wrapper .message .message__name {
          font-size: 0.8em;
          display: block; }
        .chat-box .message-container .message-wrapper .message .message__timestamp {
          display: block;
          color: lightgrey;
          font-size: 0.7em;
          text-align: right; }
        .chat-box .message-container .message-wrapper .message.message__others {
          float: left;
          background-color: white; }
        .chat-box .message-container .message-wrapper .message.message__self {
          float: right;
          background-color: #eefff8; }
      .chat-box .message-container .message-wrapper:after {
        content: "";
        display: table;
        clear: both; }
  .chat-box input, .chat-box button {
    margin: 2.3% auto 0 auto;
    display: inline-block;
    vertical-align: top;
    height: 13%; }
  .chat-box input {
    width: 75%;
    background-color: #e7ebec;
    padding-left: 1%;
    padding-right: 1%; }
  .chat-box button {
    background-color: #e7ebec;
    border: none;
    width: 23.5%; }
  .chat-box .raise-hand-icon {
    height: 100%;
    background: url("/images/UIElements/raiseHandIcon.jpg") no-repeat center;
    background-size: contain; }
    .chat-box .raise-hand-icon:hover {
      background: url("/images/UIElements/raiseHandIcon2.jpg") no-repeat center;
      background-size: contain; }

.group-info-wrapper {
  background-color: white;
  height: auto;
  width: calc(100% - 10px - 16px);
  margin: 10px 0 0 10px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 1vh 1vh  #dd9a20; }
  .group-info-wrapper .group-info__summary {
    width: 100%;
    height: 60px;
    background-color: #e7ebec;
    border: 1px solid #c2c2c2;
    padding: 0 7px 0 7px;
    overflow: hidden; }
    .group-info-wrapper .group-info__summary .summary__content {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      display: table; }
      .group-info-wrapper .group-info__summary .summary__content .group-icon-wrapper {
        vertical-align: middle;
        display: inline-block;
        position: relative;
        line-height: 49px;
        overflow: hidden;
        border-radius: 50px;
        height: 50px;
        width: 50px; }
        .group-info-wrapper .group-info__summary .summary__content .group-icon-wrapper .participants-icon {
          width: 100%; }
      .group-info-wrapper .group-info__summary .summary__content .summary__header {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        margin-left: 8px; }
        .group-info-wrapper .group-info__summary .summary__content .summary__header h2 {
          font-size: 1.7em;
          margin: 0; }
        .group-info-wrapper .group-info__summary .summary__content .summary__header p {
          margin: 0 0 0 1px;
          font-size: 0.9em; }
  .group-info-wrapper ul {
    padding: 0;
    margin: 0;
    text-align: left; }
    .group-info-wrapper ul li {
      padding: 3px 7px 3px 7px;
      margin: 0;
      background-color: #213045;
      color: white;
      overflow: hidden; }
      .group-info-wrapper ul li .username {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 5px;
        font-size: 1.5em;
        font-weight: inherit; }
      .group-info-wrapper ul li .disconnected {
        color: #666666; }
      .group-info-wrapper ul li .color {
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        border-radius: 30px; }

body {
  background-color: #ffb526; }
  body textarea, body input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none; }
  body textarea:focus, body input:focus {
    outline: none; }
  body .tutorial-main-content {
    width: 98%;
    margin: 10px auto 0 auto;
    text-align: center; }
    body .tutorial-main-content .right-panel {
      display: inline-block;
      width: 25%; }

.disconnected-black-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
  z-index: 100; }

.disconnected-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 6px 6px  #222;
  background-color: #ffb526;
  z-index: 101; }

.disconnection-deer-container {
  display: inline-block;
  width: 35%;
  height: 100%; }

.disconnection-deer-img {
  margin: 30px 30px 20px 20px;
  height: 190px; }

.disconnection-text-container {
  display: inline-block;
  vertical-align: top;
  width: 63%; }

.disconnection-text {
  margin-top: 25px;
  font-size: 20px; }
