a {
  color: white;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300; }

.navbar {
  margin: 0;
  padding: 0 0 0 10px;
  overflow: hidden;
  background-color: #213045;
  color: white;
  font-family: 'Source Sans Pro', sans-serif; }
  .navbar .coursename-label, .navbar .navbar-list {
    display: inline; }
  .navbar .coursename-label {
    margin: 0;
    line-height: 80px; }
  .navbar .navbar-list {
    list-style-type: none; }
    .navbar .navbar-list .navbar-item {
      float: left;
      text-align: center;
      padding: 20px 16px;
      text-decoration: none;
      font-weight: 400;
      font-size: 28px; }
      .navbar .navbar-list .navbar-item:hover {
        background-color: #44767f; }
    .navbar .navbar-list #exit {
      cursor: pointer;
      float: right; }

.presentation-wrapper {
  display: inline-block;
  position: relative;
  width: 70%;
  vertical-align: top; }
  .presentation-wrapper .presentations-panel {
    vertical-align: top;
    display: inline-block;
    width: 10%;
    margin-right: 1%;
    max-height: 500px;
    overflow-y: scroll; }
    .presentation-wrapper .presentations-panel .upload-button h1 {
      margin: 0;
      line-height: 50px;
      height: 100%;
      background-color: rgba(1, 1, 1, 0.8);
      color: white; }
    .presentation-wrapper .presentations-panel ul {
      margin: 0;
      padding: 3px; }
      .presentation-wrapper .presentations-panel ul li {
        position: relative;
        margin: 0 0 5px 0;
        width: 100%;
        height: 50px;
        background-color: white;
        list-style-type: none;
        cursor: pointer;
        box-shadow: 1vh 1vh  #dd9a20; }
        .presentation-wrapper .presentations-panel ul li h4 {
          position: absolute;
          margin: 0;
          bottom: 0;
          color: white;
          font-size: 0.8em;
          background-color: rgba(1, 1, 1, 0.7);
          padding: 1px;
          text-align: center;
          width: 100%;
          z-index: 2; }
        .presentation-wrapper .presentations-panel ul li img {
          position: relative;
          width: 100%;
          height: 100%; }
        .presentation-wrapper .presentations-panel ul li.active {
          border: 2px solid #44767f; }
  .presentation-wrapper .slide {
    display: inline-block;
    width: 88%;
    position: relative;
    box-shadow: 1vh 1vh  #dd9a20; }
    .presentation-wrapper .slide img {
      width: 100%; }
    .presentation-wrapper .slide .whiteboard-canvas-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .presentation-wrapper .slide .blank {
      width: 100%;
      height: 500px;
      background-color: white; }
    .presentation-wrapper .slide .previous-button, .presentation-wrapper .slide .next-button {
      position: absolute;
      top: 0;
      background-color: #44767f;
      color: white;
      border: none; }
    .presentation-wrapper .slide .previous-button {
      left: 0; }
    .presentation-wrapper .slide .next-button {
      right: 0; }
  .presentation-wrapper .upload-selection-panel {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 1, 1, 0.9);
    z-index: 4; }
    .presentation-wrapper .upload-selection-panel .close-button {
      color: white;
      position: absolute;
      border: none;
      right: 0;
      top: 0;
      width: 30px;
      height: 30px;
      background-color: #44767f; }
      .presentation-wrapper .upload-selection-panel .close-button:hover {
        background-color: black; }
    .presentation-wrapper .upload-selection-panel .buttons-wrapper {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      .presentation-wrapper .upload-selection-panel .buttons-wrapper .upload-selection__button {
        color: white;
        display: block;
        width: 80%;
        height: 150px;
        margin: 0 auto 20px auto;
        border: none;
        background-color: #44767f;
        font-size: 2em;
        transition: 0.5s ease all;
        cursor: pointer; }
        .presentation-wrapper .upload-selection-panel .buttons-wrapper .upload-selection__button:hover {
          background-color: black; }
    .presentation-wrapper .upload-selection-panel .upload-file-wrapper {
      display: none; }
    .presentation-wrapper .upload-selection-panel.upload-file-selected {
      color: white; }
      .presentation-wrapper .upload-selection-panel.upload-file-selected .buttons-wrapper {
        display: none; }
      .presentation-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper {
        display: inline-block;
        position: relative;
        top: 40%;
        transform: translateY(-80%);
        width: 70%;
        margin: auto; }
        .presentation-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper h2 {
          font-weight: inherit; }
        .presentation-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper .custom-file-upload {
          vertical-align: top;
          background-color: #44767f;
          font-weight: inherit;
          display: inline-block;
          height: 80px;
          line-height: 80px;
          font-size: 1.8em;
          width: 20%;
          cursor: pointer; }
          .presentation-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper .custom-file-upload input[type="file"] {
            display: none; }
          .presentation-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper .custom-file-upload:hover {
            background-color: black; }
        .presentation-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper .chosen-file-display {
          vertical-align: top;
          display: inline-block;
          width: 80%;
          margin-left: -3px;
          height: 80px;
          line-height: 80px;
          font-size: 1.8em;
          background-color: rgba(1, 1, 1, 0.4);
          text-overflow: ellipsis;
          overflow: hidden;
          padding: 0 8px 0 8px; }
        .presentation-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper #upload-button {
          float: right;
          border: none;
          background-color: #44767f;
          height: 50px;
          line-height: 50px;
          font-size: 1.5em;
          width: 100px;
          cursor: pointer; }
          .presentation-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper #upload-button:hover {
            background-color: black; }
          .presentation-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper #upload-button .uploading-indicator {
            display: none; }
          .presentation-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper #upload-button.uploading {
            cursor: not-allowed;
            background-color: black; }
            .presentation-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper #upload-button.uploading:hover {
              background-color: black; }
            .presentation-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper #upload-button.uploading .uploading-indicator {
              display: inline; }
            .presentation-wrapper .upload-selection-panel.upload-file-selected .upload-file-wrapper #upload-button.uploading .normal-indicator {
              display: none; }

.chat-box {
  width: 25%;
  padding: 8px;
  height: 350px;
  background-color: white;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 1vh 1vh  #dd9a20; }
  .chat-box li {
    list-style-type: none; }
  .chat-box .message-container {
    padding: 5px;
    width: 100%;
    height: 85%;
    margin: 0 auto 0 auto;
    overflow-y: scroll;
    background-color: #e7ebec; }
    .chat-box .message-container .message-wrapper {
      display: block;
      overflow-y: scroll; }
      .chat-box .message-container .message-wrapper .message {
        padding: 5px;
        border-radius: 5px;
        color: black;
        max-width: 100%;
        word-wrap: break-word;
        margin-bottom: 3px; }
        .chat-box .message-container .message-wrapper .message.message__others {
          float: left;
          background-color: #213045; }
        .chat-box .message-container .message-wrapper .message.message__self {
          float: right;
          background-color: white; }
      .chat-box .message-container .message-wrapper:after {
        content: "";
        display: table;
        clear: both; }
  .chat-box input, .chat-box button {
    margin: 2.3% auto 0 auto;
    display: inline-block;
    vertical-align: top;
    height: 13%; }
  .chat-box input {
    width: 78%;
    background-color: #e7ebec;
    padding-left: 1%;
    padding-right: 1%; }
  .chat-box button {
    background-color: #e7ebec;
    border: none;
    width: 20%; }

body {
  background-color: #ffb526; }
  body textarea, body input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none; }
  body textarea:focus, body input:focus {
    outline: none; }
  body .tutorial-main-content {
    width: 98%;
    margin: 10px auto 0 auto;
    text-align: center; }
