<h4>Participant List</h4>
<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Matric No.
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class="danger">
        <td>
            Alex
        </td>
        <td>
            A0345845K
        </td>
    </tr>
    <tr class="active">
        <td>
            Betty
        </td>
        <td>
            A0135468G
        </td>
    </tr>
    <tr class="success">
        <td>
            Cindy
        </td>
        <td>
            A0457861L
        </td>
    </tr>
    <tr class="warning">
        <td>
            Dave
        </td>
        <td>
            A0725864Q
        </td>
    </tr>
    <tr class="danger">
        <td>
            Effie
        </td>
        <td>
            A1654675D
        </td>
    </tr>
    </tbody>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>