<div id="slides-container" class="slides-container">
    <div class="slide">
        <img v-bind:src="state.listOfSlideObjects[state.currentSlideIndex].imagePath">
    </div>

    <button class="nextButton" v-on:click="nextSlide">next</button>
    <button class="prevButton" v-on:click="prevSlide">previous</button>
</div>