<div id="carousel-example-generic" class="carousel slide" dataride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slideto="1"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="width:66%; margin:auto">
        <!-- item 1 -->
        <div class="item active">
            <img src="images/slide1.png" alt="">
        </div>
        <!-- item 2 -->
        <div class="item">
            <img src="images/slide2.png" alt="">
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>