<h4>User List</h4>
<!--<button class="add-button">add</button>
<button class="delete-button">delete</button>-->
<div class="user-list-container">
    <table class="user-list-table">
    </table>
</div>

<style>
    .user-list-container {
        height: 60vh;
        background: white;
        overflow-y: scroll;
        margin-bottom: 1vh;
    }

    .user-id {
        border-color: #0f0f0f;
    }

</style>

<script src="/javascripts/UIControllers/UserListController.js"></script>