<div class="container">
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#whiteboard">Whiteboard</a></li>
        <li class="active"><a data-toggle="tab" href="#slides">Slides</a></li>
    </ul>

    <div class="tab-content">
        <div id="whiteboard" class="tab-pane fade ">
            <%- include whiteboard.ejs %>
        </div>
        <div id="slides" class="tab-pane fade in active">
        </div>
    </div>
</div>