<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic'
      rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/stylesheets/style.css'/>

<script type='text/javascript'>
    //var roomio = io.connect('http://<%= ip %>:3000/room');
</script>


<div class="whiteboard-wrapper">
    <div class="whiteboard-toolbar">
        <h3 class="tool-label">Brush Colour</h3>
        <div class="palette">
            <div class="plalette-color" id="circleRed" data-value="red"/>
        </div>
        <div class="plalette-color" id="circleOrange" data-value="orange"/>
    </div>
    <div class="plalette-color" id="circleYellow" data-value="yellow"/>
</div>
<div class="plalette-color" id="circleGreen" data-value="green"/></div>
<div class="plalette-color" id="circleBlue" data-value="blue"/></div>
<div class="plalette-color" id="circlePurple" data-value="purple"/></div>
<div class="plalette-color" id="circleGray" data-value="gray"/></div>
<div class="plalette-color selected" id="circleBlack" data-value="black"/></div>
</div>
</div>
<div class="whiteboard-canvas-wrapper">
    <canvas id="whiteboard-canvas"></canvas>
</div>
</div>


<script type="text/javascript">
    // var colorCanvas = document.getElementById('canvas_picker').getContext('2d');

    // var img = new Image();
    // img.src = '/images/ColorWheel-Base.png';
    // $(img).load(function(){
    //     var colorCanvasElement = $('#canvas_picker');
    //     var hRatio = colorCanvasElement.width() / img.width;
    //     var vRatio = colorCanvasElement.height() / img.height;
    //     var ratio  = Math.min ( hRatio, vRatio );

    //     colorCanvas.drawImage(img, 0,0, img.width, img.height, 0,0,img.width*ratio, img.height*ratio);
    //     $("#color-picker-wrapper").hide();
    // });

    // function rgbToHex(R,G,B) {return toHex(R)+toHex(G)+toHex(B)}
    // function toHex(n) {
    //   n = parseInt(n,10);
    //   if (isNaN(n)) return "00";
    //   n = Math.max(0,Math.min(n,255));
    //   return "0123456789ABCDEF".charAt((n-n%16)/16)  + "0123456789ABCDEF".charAt(n%16);
    // }

    // $('#color-picker-wrapper').click(function() {
    // });
    // $('#canvas_picker').click(function(event){
    //   // getting user coordinates
    //   var x = event.pageX - this.getBoundingClientRect().left;
    //   var y = event.pageY - this.getBoundingClientRect().top;
    //   // getting image data and RGB values
    //   var img_data = colorCanvas.getImageData(x, y, 1, 1).data;
    //   var R = img_data[0];
    //   var G = img_data[1];
    //   var B = img_data[2];
    //   var rgb = R + ',' + G + ',' + B;
    //   // convert RGB to HEX
    //   var hex = rgbToHex(R,G,B);
    //   // making the color the value of the input
    //   // $('#rgb input').val(rgb);
    //   // $('#hex input').val('#' + hex);
    //   // alert(hex);
    //   // alert(hex);
    //   changeBrushColor("#"+hex);
    //   $('#color-picker-button').css("background-color", "#"+hex);
    // });
    $(document).ready(function () {

    });

</script>