$chat-box-primary-color: #e7ebec;
.chat-box {
  width: calc(100% - 16px - 10px);
  padding: 8px;
  height: 450px;
  background-color: white;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 1vh 1vh  #dd9a20;

  li {
    list-style-type: none;
  }

  .chatbox-title {
    margin: 2px;
  }

  .message-container {
    padding: 5px;
    width: 100%;
    height: 75%;
    margin: 8px auto 0 auto;
    overflow-y: auto;
    background-color: $chat-box-primary-color;

    .message-wrapper {
      display: block;
      .message {
        padding: 5px;
        border-radius: 5px;
        color: black;
        max-width: 100%;
        word-wrap: break-word;
        margin-bottom: 3px;
        text-align: left;
        .message__name {
          font-size: 0.8em;
          display: block;
        }

        .message__timestamp {
          display: block;
          color: lightgrey;
          font-size: 0.7em;
          text-align: right;
        }

        &.message__others {
          float: left;
          background-color: white;
        }

        &.message__self {
          float: right;
          background-color: #eefff8;
        }
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }

  input, button {
    margin: 2.3% auto 0 auto;
    display: inline-block;
    vertical-align: top;
    height: 13%;
  }

  $left-right-padding: 1%;
  input {
    width: 75%;
    background-color: $chat-box-primary-color;
    padding-left: $left-right-padding;
    padding-right: $left-right-padding;
  }

  button {
    background-color: $chat-box-primary-color;
    border: none;
    width: 23.5%;
  }

  .raise-hand-icon {
   height: 100%;
  }
}