$chat-box-primary-color: #e7ebec;
.chat-box {
  width: 25%;
  padding: 8px;
  height: 350px;
  background-color: white;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 1vh 1vh  #dd9a20;

  li {
    list-style-type: none;
  }

  .message-container {
    padding: 5px;
    width: 100%;
    height: 85%;
    margin: 0 auto 0 auto;
    overflow-y: scroll;
    background-color: $chat-box-primary-color;

    .message-wrapper {
      display: block;
      overflow-y: scroll;
      .message {
        padding: 5px;
        border-radius: 5px;
        color: white;
        max-width: 100%;
        word-wrap: break-word;
        margin-bottom: 3px;

        &.message__others {
          float: left;
          background-color: $secondary-color;
        }

        &.message__self {
          float: right;
          background-color: #44767f;
        }
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }

  input, button {
    margin: 2.3% auto 0 auto;
    display: inline-block;
    vertical-align: top;
    height: 13%;
  }

  $left-right-padding: 1%;
  input {
    width: 78%;
    background-color: $chat-box-primary-color;
    padding-left: $left-right-padding;
    padding-right: $left-right-padding;
  }

  button {
    background-color: $chat-box-primary-color;
    border: none;
    width: 20%;
  }
}