$navbar-height: 80px;
.navbar {
  margin: 0;
  padding: 0 0 0 10px;
  overflow: hidden;
  background-color: $secondary-color;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;



  .coursename-label {
    float: left;
    margin: 0;
    width: 80%;
    line-height: $navbar-height;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .navbar-list {
    list-style-type: none;
    float: right;

    .navbar-item {
      float: left;
      text-align: center;
      padding: 20px 16px;
      text-decoration: none;
      font-weight: 400;
      font-size: 28px;
      &:hover {
        background-color: #44767f;
      }
    }

    #exit {
      cursor: pointer;
      float: right;
    }
  }
}
