.presentation-wrapper {
  display: inline-block;
  position: relative;
  width: 66%;
  box-shadow: 1vh 1vh  #dd9a20;
  overflow: hidden;
  vertical-align: top;

  .slide {
    position: relative;
    img {
      width: 100%;
    }
    .whiteboard-canvas-wrapper {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }

    .blank {
      width: 100%;
      height: 500px;
      background-color: white;
    }
  }

  .previous-button, .next-button {
    position: absolute;
    top: 0;

    background-color: #44767f;
    color: white;
    border: none;
  }

  .previous-button {
    left: 0;
  }

  .next-button {
    right: 0;
  }
}