<div class="chat-box" id="chat-box">
    <div id="message-container" class="message-container">
        <li v-for="m in state.history">
            <div class="message-wrapper">
                <div class="{{m.className}}">
                    <span class="message__name" style="color: {{m.color}}">{{ m.nameOfSender }} </span>
                    {{ m.message }}
                    <span class="message__timestamp">{{ m.timestamp }}</span>
                </div>
            </div>
        </li>
    </div>
    <input type="text" name="message" class="chat-input-box" v-model="input" @keyup.enter="submit">
    <button id="raise-hand-button">
        <img class="raise-hand-icon" src="\images\UIElements\raiseHandIcon.jpg">
    </button>
</div>