<div id="group-info-wrapper" class="group-info-wrapper">
    <div class="group-info__summary">
        <div class="summary__content">
            <div class="group-icon-wrapper">
                <img class="participants-icon" src="\images\UIElements\reindeer-participants.png">
            </div>
            <div class="summary__header">
                <h2>Participants</h2>
                <p>{{ state.stringOfConnectedUsers }}</p>
            </div>
        </div>
    </div>
    <ul>
       <li v-for="connectedUser in state.members">
           <div class="color" style="background-color: {{ connectedUser.color }}"></div>
           <h3 class="username" v-bind:class="{'disconnected':!connectedUser.connected}">{{ connectedUser.username }}</h3>
       </li>
    </ul>
</div>