<div class="navbar">
    <h1 class="coursename-label"><%= tutorial.coursecode + " " + tutorial.coursename%></h1>
    <ul class="navbar-list">
        <li id="exit" class="navbar-item"><a class="active" >Exit</a></li>
    </ul>
</div>